.results {
    height: 210px;
    width: calc(100% - 2px);
    border: 1px solid red;
    border-top: none;
}

.results-field {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.results-field-title {
    height: 35px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.results-field-bottom {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 24px;
}

.results-field-bottom-sub {
    height: 100%;
    width: calc(50% - 12px);
    display: flex;
    justify-content: start;
    align-items: center;
}